[Unit]
Description=Start the daily fenceapi scrape after midnight

[Timer]
OnCalendar=*-*-* 00:10:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
